<button ng-click="loadCubes(11,5,11)">Load</button>
<div>
    <div>
        <button ng-click="moveByName('activeblock',0,1,0)">up</button>
        <button ng-click="moveByName('activeblock',0,-1,0)">down</button>
    </div>
    <div>
        <button ng-click="moveByName('activeblock',-1,0,0)">left</button>
        <button ng-click="moveByName('activeblock',1,0,0)">right</button>
    </div>
    <div>
        <button ng-click="moveByName('activeblock',0,0,1)">in</button>
        <button ng-click="moveByName('activeblock',0,0,-1)">out</button>
    </div>
</div>
<div id="imgframe" style="position: relative; height: 320px; width: 700px; border: 1px solid black">
</div>

